.underlineB {
  width: 75%;
  height: 15px;
  background-color: #dc1b29;
  float: right;
}
.underlineC {
  width: 70%;
  height: 15px;
  background-color: #dc1b29;
}
.underlineD {
  width: 75%;
  height: 15px;
  background-color: #dc1b29;
  float: right;
}

h1 {
  width: 60%;
}

.titleDiv {
  padding-left: 25%;
  padding-bottom: 1%;
}

.MainContainer {
  margin-top: 5%;
}

div.footer {
  color: white;
  background-color: black;
  /* padding: 5%; */
}
span {
  color: #dc1b29;
}

.BenCol {
  background-color: #dc1b29;

  /* background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(61,0,0,1) 50%); */
  color: white;
  margin: 5%;
  height: 300px;
  width: 300px;
  /* box-shadow: 1px 2px 3px 2px #94989a; */
  /* border-radius: 5px; */
}

.BenCol p {
  float: left;
  text-align: left;
  font-size: xx-large;
}
.BenCol h3 {
  float: left;
  text-align: left;
  /* color: #94989a; */
  color: black;
  font-size: 50px;
}

.footer-text {
  font-size: 10px;
  background-color: black;
}
@media only screen and (max-width: 414px) {
  h1 {
    width: 70%;
  }

  .titleDiv {
    padding-left: 25%;
    padding-bottom: 1%;
  }
  .underline {
    width: 75%;
    height: 15px;
  }

  .BenCol {
    margin: 5%;
    height: 120px;
    width: 100px;
  }
  .BenCol p {
    float: left;
    text-align: left;
    font-size: medium;
  }
  .BenCol h3 {
    float: left;
    text-align: left;
    font-size: 25px;
  }
  .footer {
    /* color: white; */
    /* background-color: black; */
    /* padding: 4%; */
  }
}
