/* *{border: 1px solid green} */

.profileMain { 
  background-color: black; 
  padding: 1%;
  width: 100%;
}

.header-banner{
  height: 50px;
  background-color: #dc1b29;
}

.info-message-requests {
  background-color: white;
}

.sign-out-profile-btn{
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.sign-out-profile-btn a{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.sign-out-profile-btn a:hover{
  text-decoration: none;
  color: black;
}

.icon{
  margin: 0.25rem !important;
}

.edit-profile-btn{
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.edit-profile-btn span:hover{
  cursor: pointer;
}

.edit-profile-btn-container {
  text-align: center;
  margin-top: 1em;
}

.market-section {
  background-color: white;
}

.header-section {
  margin: auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-titles {
  font-size: 20px !important;
  border-bottom: 2px solid #dc1b29;
  color: black;
}
.header-logo {
  width: 300px;
  padding-top: 15%;
}
.center-section {
  background-color: white; 
  padding-bottom: 5%; 
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}
.center-section::-webkit-scrollbar {
  display: none;
}
.personal-info-container {
  text-align: center;
  border: 2px solid black;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.peronal-info-inline {
  color: black;
}
.customer-name {
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
h3.section-titles {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
h3.gallery-text {
  color: black;
}
.table-container-div {
  overflow: scroll;
  width: 100%;
  height: 350px; 
  border: 2px solid black;
}
.table-container-div::-webkit-scrollbar {
  display: none;
}

.table-container-div .table tbody tr td{
  border-bottom: 1px solid #dc1b29 !important;
}

.right-section-title {
  color: black;
  text-align: center;
}

.market-items-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 2px solid black;
} 

.editImage {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.edit-modal-header{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.edit-modal-field-title{
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase !important;
}

.edit-modal-field-button{
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase !important;
  border-radius: 0px !important;
  border: 1px solid black !important;
  margin-left: 5px !important;
}

.edit-modal-field-button:hover{
  color: black !important;
  background-color: white !important;
  transition-duration: 200ms !important;
  border: 1px solid black !important;
}

.request-style {
  color: black;
  text-align: center;
}
.catalog-options-icons {
  padding: 0%; 
  color: black;
}

.scroll-hidden {
  height: 300px;
}
.right-side-section {
  padding-top: 25%;
}

.received-Message {
  float: left;
  color: black;
}
.sent-message {
  float: right;
  color: black;
}
.messages-div {
  color: lightgray;
  font-size: 17px;
}
p.message {
  color: black;
  width: 300px;
  padding-top: 3%;
}

.message-underline {
  width: 100%;
  height: 1px;
  background-color: #dc1b29;
}
.message-icon {
  color: black;
}
.message-name-date {
  color: black;
}

.request-container{
  padding: 10px;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.message-container {
  padding: 10px;
  height: 300px;
  width: 100%;
  overflow: scroll;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.message-div {
  padding: 10px;
  width: 100%;
}
.message-container::-webkit-scrollbar {
  display: none;
}
.request-scroll::-webkit-scrollbar {
  display: none;
}
.request-scroll {
  overflow: scroll;
  width: 100%;
  padding: 10px;
}
.request-item-row {
  padding: 10px;
}
.message-textbox {
  width: 100%;
  height: 50px; 
}
.message-button {
  width: 100%;
  height: 40px;
  color: black;
  background-color: white;
  padding: 1%;
  margin-bottom: 5%;
  margin-top: 2%; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid black;
}

.message-button:hover{
  background-color: black;
  color: white;
  transition-duration: 200ms;
}

form {
  width: 100% !important;
}

.card-catalog-container {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: 2px solid black;
}

.item-details{
  margin-bottom: 3%;
}

.request-item-btn{
  text-transform: uppercase;
  color: #a9abad;
  background-color: black;
  border: 2px solid #a9abad;
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.request-item-btn:hover{
  color: white;
  border: 2px solid white;
  transition-duration: 200ms;
}

@media only screen and (max-width: 414px) {
  p.message {
    /* color: black; */
    width: 300px;
    padding-top: 1%;
  }

  .profileMain {
    background-color: white !important;
  }

  .message-container {
    padding: 10px;
    height: 500px;
  }

  .message-div {
    padding: 10px;
  }

  .edit-modal-field-button{
    margin-left: 0 !important;
  }

  .center-section {
    margin-top: 10%;
  }
  .table-container-div {
    padding-bottom: 20%;
  }

  .table-container-div .table tbody tr {
    border-bottom: 1px solid #dc1b29 !important;
  }

  .right-side-section { 
  }
  .right-section-title { 
    text-align: center; 
  }
  .header-logo {
    padding-top: 15%;
    align-items: center;
    justify-content: center;
  }
  .section-titles { 
    color: black;
  }
  .request-style { 
  }
  .scroll-hidden {
    height: 600px;
  }
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }

  input.message-textbox { 
    height: 50px; 
    margin-top: 1em;
  }

  .message-button { 
    height: 50px; 
    padding: 1%; 
    margin-top: 2%; 
  }
  /* form {
    width: 320px !important;
  } */
}

/* ******** old classes below */
.main { 
  height: 100%;
  background-color: red;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 200px; 
}

.img-height{
  background-color: white;
  margin: 1em;
}

.slant {
  border-bottom: 40px solid rgb(255, 255, 255);
  border-left: 290px solid rgba(0, 0, 0, 0);
  height: 0;
  line-height: 40px;
  width: 100%;
  position: relative;
}
.plant {
  border-bottom: 40px solid #ff0000;
  border-right: 210px solid rgba(0, 0, 0, 0);
  height: 0;
  line-height: 40px;
  width: 100%;
  position: relative;
}

.plat {
  border-top: 40px solid white;
  border-right: 290px solid rgba(0, 0, 0, 0);
  height: 0;
  line-height: 40px;
  width: 100%;
  position: relative;
}
.spat {
  border-top: 40px solid #ff0000;
  border-left: 210px solid rgba(0, 0, 0, 0);
  height: 0;
  line-height: 40px;
  width: 100%;
  position: relative;
}

.tree {
  height: 40px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.timeTable {
  color: black;
}

.heading {
  padding-top: 30px;
  text-align: center;
  font-size: xx-large;
  color: black;
}
