.App {
  text-align: center;
  background-color: white;
}

.Modals {
  margin-top: 5%;
  background-color: white;
}

.mainform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  /* width: 20%; */
  /* margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%; */
  background-color: gray;
}

.mainform input {
  width: 300px;
  height: 60px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInput {
  /* border: 3px solid; */
  /* padding: 10px; */
  /* box-shadow: 5px 10px; */
  width: 250px;
  margin: 5px;
  font-family: "Tinos", serif;
}

.validate {
  /* border: 3px solid; */
  /* padding: 10px; */
  /* box-shadow: 5px 8px; */
  margin-top: 2%;
  border-radius: 100px;
  border: none;
  font-family: "Tinos", serif;
  width: 200px;
  height: 30px;
  box-shadow: 1px 2px 3px 2px black;
}

.login-title {
  font-family: "Tinos", serif;
}

.loginHeader {
  font-family: "Tinos", serif;
  font-size: 30px;
}

.NewLogin {
  width: 50%;
  color: black;
}
.BenCol4 {
  background-color: #94989a;
  /* background-color: black; */
  /* color: black; */
  margin: 5%;
  padding-top: 2%;
  height: 230px;
  width: 120px;
  box-shadow: 1px 2px 3px 2px black;
  border-radius: 5px;
}
.BenCol4 p {
  /* float: left; */
  text-align: center;
  font-size: medium;
}

.incorrect-combo {
  border: 2px solid red;
  font-family: "Tinos", serif;
  width: 400px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
}

.loginStatus {
  border: 2px solid red;
  font-family: "Tinos", serif;
  width: 400px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
@media only screen and (max-width: 414px) {
  .mainform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 3px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

  .loginInput {
    /* border: 3px solid; */
    /* padding: 10px; */
    /* box-shadow: 5px 10px; */

    width: 250px;
    font-family: "Tinos", serif;
  }

  .loginStatus {
    height: 20px;
    width: 200px;
  }
  .BenCol4 {
    background-color: lightgray;
    /* color: black; */
    margin: 5%;
    height: 180px;
    width: 120px;
  }
}
