.form-contents {
  background-color: gray;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-color: black;
  border-style: solid;
  margin-top: 5%;
}
label {
  width: 400px;
  color: white;
}
/* 
h1 {
  color: blac;
} */

footer {
  height: 100px;
}

.Input {
  width: 90%;
}

.main-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: white;
  box-shadow: 1px 2px 3px 1px black;
  border-radius: 5px;
}

body {
  background-color: #f3f3fc;
}

.newMember {
  background-color: #f3f3fc;
}

@media only screen and (max-width: 800px) {
  Modal {
    width: 80% !important;
  }
  .register-modal {
    width: 700px !important;
  }
  form {
    width: 750px !important;
    margin-left: 5px !important;
  }
  .placeBorn {
    margin-top: 30px !important;
  }
  .dob {
    margin-top: 30px !important;
  }
  .modal-actions {
    margin-right: 150px !important;
  }
  .renew-modal {
    width: 90% !important;
    height: 60% !important;
    margin-left: 10px !important;
  }
  .members-info-modal {
    margin-left: 3% !important;
    height: 800px !important;
    width: 700px !important;
  }
  .modal-button {
    margin-left: 33% !important;
  }
}
