.form-contents {
  background-color: gray;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-color: black;
  border-style: solid;
  margin-top: 5%;
}
label {
  width: 400px;
  color: white;
}
/* 
h1 {
  color: blac;
} */

footer {
  height: 100px;
}

.Input {
  width: 90%;
}

.main-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
