.background {
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
}
.header-img {
  width: 60% !important;
  height: 100% !important;
  padding-top: 5%;
}
.Navigation {
  background-color: black;
  width: 100%;
  height: 400px;
  color: white;
  padding-top: 15px;
  /* position: sticky;
  top: 0; */
}
.title-col {
}
.title-header {
  text-align: center;
  padding-top: 5%;
}
h3.title-header {
  text-align: center;
  padding-top: 2%;
}
ul {
  list-style-type: none;
  /* margin: 10px; */
  padding: 0;
  overflow: hidden;
  justify-content: center;
  margin: auto;
  /* background-color: #333333; */
  width: 100%;
  /* background:red; */
  /* height: 20px; */
  text-align: center;
}

li {
  /* float: left; */
  text-align: center;
  margin-right: 0;
  display: inline-block;
  *display: inline; /*IE7*/
  *zoom: 1; /*IE7*/
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #f3f3fc;
  color: black;
  border-radius: 5px;
  height: 50px;
}

.logoutNow {
  width: 100px;
  background-color: red;
  color: white;
  height: 50px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: -3%;
  position: absolute;
}

@media only screen and (max-width: 780px) {
  .header-img {
    width: 700px !important;
    height: 250px !important;
  }
  .logoutNow {
    margin-left: -100px !important;
  }
}
